body {
	font-family: Serif;
	margin: 0;
	background: white;
	text-align: center;
	width: 100%;
}

header {
	padding: 25px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 30px;
	font-weight: bold;
	color: yellow;
	background-image: url('pictures/header.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header b {
	font-size: 60px;
}

nav {
	opacity: 0.9;
	overflow: hidden;
	background-color: #333;
	position: sticky;
	top: 0;
}

nav:hover {
	opacity: 1.0;
}

nav ul {
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

nav p {
	font-size: 44px;
	display: none;
	color: #f2f2f2;
	margin: 0;
}

nav a {
	display: block;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background: #ddd;
	color: black;
}

#right {
	margin-left: auto;
}

@media (max-width: 524px) {
	nav ul {
	  flex-direction: column;
	}

	nav li {
		width: 100%;
	}

	nav p {
		display: block;
	}

	nav a {
		display: none;
	}

	nav:hover a {
		display: block;
	}

	nav:hover p {
		background: green;
	}

	#right {
		margin-left: 0;
	}
}

main {
	padding: 20px;
	/*text-align: left;*/
	max-width: 1400px;
	margin: auto;
}

footer {
	opacity: 0.9;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 3px;
	text-align: center;
	background: #333;
	color: #f2f2f2;
}

footer ul {
	white-space: nowrap;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

footer span {
	display: block;
	padding-left: 7px;
	padding-right: 7px;
}

footer:hover {
	opacity: 1.0;
}

#spam {
	display: none;
}